/*初始化*/
*{
    box-sizing: border-box;
}
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
    list-style: none;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
a{
    text-decoration: none;
}
.box{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
/*页头*/
#top{
    min-width: 1200PX;
    height: 40px;
    background-color:#222;
    font-size: 12px;
    padding: 0 80px;
}
#top a{
    line-height: 40px;
    color:#999;
    margin: 0 10px;
}
#top a:hover{
    color:#ddd;
}
#top i{
    border-left: 1px solid #999999;
}
#top s{
    display: inline-block;
    width: 8px;
    height: 15px;
    background: url(../imgs/shouji.png) no-repeat;
    position: relative;
    top:3px;
}
#top .sjqz{
    background-color: #444;
    padding: 0 5px;
}
/*页面主导航*/
#nav{
    min-width:1400px ;
    height: 90px;
    padding: 15px 80px;
    background-color: #4284da;
    color:#fff;
    font-size: 18px;
}
#nav>div>a{
    float: left;
    width: 150px;
    height: 56px;
    background: url(../imgs/logo.png) no-repeat 2px;
}
#nav>div>ul{
    width: 800px;
    padding-left: 50px;
    float: left;
    height: 60px;
}
#nav>div>ul>li{
    float: left;
    width: 80px;
    height: 60px;
    text-align: center;
    position: relative;
}
#nav>div>ul>li div{
    position: absolute;
    top: 60px;
    left: 0;
	z-index:100;
    background-color: #fff;
    behavior: url(ie-css3.htc);
    padding: 10px 0 0 10px;
    border-radius: 5px;
    font-size: 16px;
    display: none;
}
#nav>div>ul>li div>i{
    position: absolute;
    width: 15px;
    height: 8px;
    background: url(../imgs/bg/article_bg.png) no-repeat -35px -273px;
    top:-7px;
    left:25px;
}
#nav>div>ul>li.yjy div{
    width: 458px;
    height:120px;
}
#nav>div>ul>li.yjy ul>li{
    width: 30%;
    float: left;
    height: 30%;
    text-align: left;
}
#nav>div>ul>li.dsj ul>li{
    text-align: left;
    padding:5px 5px 5px 10px;
    margin:5px 10px 3px 0;
    width: 95px;
    border-radius: 3px;
}
#nav>div>ul>li.dsj ul>li:hover{
    background-color: #6dbaf1;
}
#nav>div>ul>li.dsj ul>li:hover a{
    color: #fff;
}
#nav>div>ul>li ul>li a{
    color: #000;
}
#nav>div>ul>li ul>li a:hover{
    color: #2244bb;
}
#nav>div>ul>li ul{
    width: 100%;
    height: 100%;
    padding-top: 5px
}
#nav>div ul ul img{
    width: 30px;
    vertical-align:middle;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -o-transition: all linear .5s;
    -moz-transition: all linear .5s;
    border:none;
}
#nav>div ul ul img:hover{
    transform:rotateZ(360deg);
    -webkit-transform:rotateZ(360deg);
    -o-transform:rotateZ(360deg);
    -moz-transform:rotateZ(360deg);
}
#nav>div>ul>li>a{
    line-height: 60px;
    color: #FFFFFF;
}
#nav>div>ul>li:hover>a{
    color: #ff0;
}
#nav>div>ul>li:hover div{
    display: block;
}
#nav>div>ul>li:hover b{
    transform:rotatez(180deg);
    -webkit-transform:rotateZ(180deg);
    -o-transform:rotateZ(180deg);
    -moz-transform:rotateZ(180deg);
}
#nav>div>ul>li b{
    position: relative;
    width: 15px;
    top: 2px;
    left: 1px;
    display: inline-block;
    height: 15px;
    background: url(../imgs/bg/arraw.png) no-repeat 0 0;
    transition:all linear .3s;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    -moz-transition: all linear .3s;
}
#nav>div>div{
    margin-top: 5px;
    position: relative;
    float: left;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    behavior: url(ie-css3.htc);
    z-index: 5;
}
#nav>div>div>a{
    float: right;
    width: 46px;
    height: 46px;
    margin: 2px 2px 0 0;
    border-radius: 50%;
}
#nav>div>div span{
    float: right;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: url(../imgs/bg/bg.png) no-repeat 2px -29px;
    margin: 14px 14px 0 0;
}
#nav>div>div input{
    margin:18px 0 0 15px ;
    outline: none;
    border: none;
}
#nav>div>div>a:hover{
    background-color: #04f;
}
#nav>div>div>a:hover span{
    background-position: -17px -29px;
}
/*banner广告*/
#banner{
    height: 420px;
}
#banner a{
    color: #fff;
}
#banner .slider>a{
    position: absolute;
    top: 0;
    left: 0;
}
#banner .slider>a>span{
    position: absolute;
    left:305px;
    bottom: 8px;
    font-size:21px;
}
#banner .slider>a.active{
    z-index: 2;
}
#banner .faster_news{
    padding: 10px;
    position: absolute;
    width: 300px;
    height: 420px;
    background-color:rgba(0,0,0,.7);
    z-index:20;
}
#banner .faster_news>a{
    background-color: #1291ea;
    padding:2px 10px;
}
#banner .faster_news>ul{
    border-left: 1px solid #666;
    padding-left: 10px;
    height: 95%;
}
#banner .faster_news>ul>li{
    position: relative;
    padding-top: 20px;
    height: 25%;
    border-bottom: 1px solid #666;
}
#banner .faster_news>ul>li a{
    color: #eee;
}
#banner .faster_news>ul>li a:hover{
    color: #fff;
}
#banner .faster_news>ul>li span{
    color: #999;
    font-size: 12px;
}
#banner .faster_news>ul>li>i{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #749ed9;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: -15px;
    transition:all linear .2s;
    -webkit-transition:all linear .2s;
    -o-transition:all linear .2s;
    -moz-transition:all linear .2s;
}
#banner .faster_news>ul>li:hover i{
    margin-top: -6px;
    width: 12px;
    height: 12px;
    left: -17px;
    background-color: #0044ff;
}
#banner .slider_dot{
    position: absolute;
    z-index: 50;
    bottom: 15px;
    right: 50px;
}
#banner .slider_dot>li{
    cursor:pointer;
    float: left;
    margin-left: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}
#banner .slider_dot>li:hover,
#banner .slider_dot>li.active{
    background-color: #0dd;
}
/*页面主体-今日聚焦*/
#main h2{
    margin-top: 40px;
    font-weight: normal;
}
#main .today_focus>h2>a{
    float: right;
    width: 25px;
    height: 25px;
    border:1px solid #999;
    background: url(../imgs/bg/help_skin.png) no-repeat 10px -52px;
}
#main .today_focus>h2>a:hover{
    background: #ddd url(../imgs/bg/help_skin.png) no-repeat 10px -52px;
}