/*初始化*/
*{
    box-sizing: border-box;
}
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
    list-style: none;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #1291ea;
}
.box{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.ofh{
    overflow: hidden;
}
a.more{
    float: right;
    width: 25px;
    height: 25px;
    margin-top: 3px;
    border:1px solid #999;
    background: url(../imgs/bg/help_skin.png) no-repeat 10px -52px;
}
a.more:hover{
    background: #ddd url(../imgs/bg/help_skin.png) no-repeat 10px -52px;
}
.title{
    margin: 50px 0 20px;
    font-weight: normal;
}
img{
    border:none;
}
li>i{
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 5px;
}
li>i.top1{
    background-color: #f00;
}
li>i.top2{
    background-color: #ff0;
}
/*页头*/
#top{
    min-width: 1200PX;
    height: 40px;
    background-color:#222;
    font-size: 12px;
    padding: 0 80px;
}
#top a{
    line-height: 40px;
    color:#999;
    margin: 0 10px;
}
#top a:hover{
    color:#ddd;
}
#top i{
    border-left: 1px solid #999999;
}
#top s{
    display: inline-block;
    width: 8px;
    height: 15px;
    background: url(../imgs/shouji.png) no-repeat;
    position: relative;
    top:3px;
}
#top .sjqz{
    background-color: #444;
    padding: 0 5px;
}
/*页面主导航*/
#nav{
    min-width:1425px ;
    height: 90px;
    padding: 15px 0;
    background-color: #4284da;
    color:#fff;
    font-size: 18px;
}
#nav>div{
    height: 50px;
}
#nav>div>a{
    float: left;
    width: 150px;
    height: 56px;
    background: url(../imgs/logo.png) no-repeat 2px;
}
#nav>div>ul{
    width: 800px;
    padding-left: 50px;
    float: left;
    height: 50px;
}
#nav>div>ul>li{
    float: left;
    width: 80px;
    height: 60px;
    text-align: center;
    position: relative;
}
#nav>div>ul>li div{
    position: absolute;
    top: 60px;
    left: 0;
	z-index:100;
    background-color: #fff;
    padding: 10px 0 0 10px;
    border-radius: 5px;
    font-size: 16px;
    display: none;
    -webkit-box-shadow:  0 0 8px #333;
    -moz-box-shadow:   0 0 8px #333;
    box-shadow:   0 0 8px #333;
}
#nav>div>ul>li div>i{
    position: absolute;
    width: 15px;
    height: 8px;
    background: url(../imgs/bg/article_bg.png) no-repeat -35px -273px;
    top:-7px;
    left:25px;
}
#nav>div>ul>li.yjy div{
    width: 458px;
    height:120px;
}
#nav>div>ul>li.yjy ul>li{
    width: 30%;
    float: left;
    height: 30%;
    text-align: left;
}
#nav>div>ul>li.dsj ul>li{
    text-align: left;
    padding:5px 5px 5px 10px;
    margin:5px 10px 3px 0;
    width: 95px;
    border-radius: 3px;
}
#nav>div>ul>li.dsj ul>li:hover{
    background-color: #6dbaf1;
}
#nav>div>ul>li.dsj ul>li:hover a{
    color: #fff;
}
#nav>div>ul>li ul>li a{
    color: #000;
}
#nav>div>ul>li ul>li a:hover{
    color: #2244bb;
}
#nav>div>ul>li ul{
    width: 100%;
    height: 100%;
    padding-top: 5px
}
#nav>div ul ul img{
    width: 30px;
    vertical-align:middle;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -o-transition: all linear .5s;
    -moz-transition: all linear .5s;
    border:none;
}
#nav>div ul ul img:hover{
    transform:rotateZ(360deg);
    -webkit-transform:rotateZ(360deg);
    -o-transform:rotateZ(360deg);
    -moz-transform:rotateZ(360deg);
}
#nav>div>ul>li>a{
    line-height: 60px;
    color: #FFFFFF;
}
#nav>div>ul>li:hover>a{
    color: #ff0;
}
#nav>div>ul>li:hover div{
    display: block;
}
#nav>div>ul>li:hover b{
    transform:rotatez(180deg);
    -webkit-transform:rotateZ(180deg);
    -o-transform:rotateZ(180deg);
    -moz-transform:rotateZ(180deg);
}
#nav>div>ul>li b{
    position: relative;
    width: 15px;
    top: 2px;
    left: 1px;
    display: inline-block;
    height: 15px;
    background: url(../imgs/bg/arraw.png) no-repeat 0 0;
    transition:all linear .3s;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    -moz-transition: all linear .3s;
}
#nav>div>div{
    margin-top: 5px;
    position: relative;
    float: left;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    z-index: 5;
}
#nav>div>div>a{
    float: right;
    width: 46px;
    height: 46px;
    margin: 2px 2px 0 0;
    border-radius: 50%;
}
#nav>div>div span{
    float: right;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: url(../imgs/bg/bg.png) no-repeat 2px -29px;
    margin: 14px 14px 0 0;
}
#nav>div>div input{
    margin:18px 0 0 15px ;
    outline: none;
    border: none;
}
#nav>div>div>a:hover{
    background-color: #04f;
}
#nav>div>div>a:hover span{
    background-position: -17px -29px;
}
/*banner广告*/
#banner{
    height: 420px;
}
#banner a{
    color: #fff;
}
 .slider>a{
    position: absolute;
    top: 0;
    left: 0;
}
 .slider>a>span{
    position: absolute;
    left:305px;
    bottom: 8px;
    font-size:21px;
}
 .slider>a.active{
    z-index: 2;
}
 .faster_news{
    padding:36px 10px 10px 0;
    position: absolute;
    width: 300px;
    height: 420px;
    background-color:rgba(0,0,0,.7);
    z-index:20;
    overflow: hidden;
}
.faster_news>div{
    overflow: auto;
    height: 380px;
    width: 318px;
    position: relative;
    padding-left: 10px;
}
.faster_news>div>p{
    text-align: center;
    margin-bottom: 20px;
}
#banner .faster_news>div>p>a{
    font-size: 14px;
    padding: 5px 30px;
    border:1px solid #666;
    color: #1291ea;
}
 .faster_news>a{
    background-color: #1291ea;
    padding:2px 10px;
    position:absolute;
    top:10px;
    left: 10px;
}
 .faster_news>div>ul{
    border-left: 1px solid #666;
    padding: 0 10px 0 10px;
    margin:0 20px 20px 0;
}
 .faster_news>div>ul>li{
    position: relative;
    padding-top: 20px;
    height: 25%;
    border-bottom: 1px solid #666;
}
 #banner .faster_news>div>ul>li a{
    color: #eee;
     font-size: 15px;
}
#banner .faster_news>div>ul>li a:hover{
    color: #fff;
}
 .faster_news>div>ul>li span{
    color: #999;
    font-size: 12px;
}
 .faster_news>div>ul>li>i{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #749ed9;
    position: absolute;
    z-index: 1000;
    top: 50%;
    margin-top: -4px;
    left: -15px;
    transition:all linear .2s;
    -webkit-transition:all linear .2s;
    -o-transition:all linear .2s;
    -moz-transition:all linear .2s;
}
 .faster_news>div>ul>li:hover i{
    margin-top: -6px;
    width: 12px;
    height: 12px;
    left: -17px;
    background-color: #0044ff;
}
 .slider_dot{
    position: absolute;
    z-index: 50;
    bottom: 15px;
    right: 50px;
}
 .slider_dot>li{
    cursor:pointer;
    float: left;
    margin-left: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
}
 .slider_dot>li:hover,
 .slider_dot>li.active{
    background-color: #0dd;
}
/*页面主体-今日聚焦*/
 .today_focus>ul>li{
    width: 30%;
    float: left;
}
 .today_focus>ul>li img{
    width: 355px;
}
 .today_focus>ul>li.middle{
    margin: 0 60px;
}
.today_focus>ul h3 a{
    font-weight: normal;
    min-height: 40px;
    margin: 15px 0;
}
.today_focus span{
    font-size:10px;
    color: #666;
}

.today_focus>div.lf{
    margin-top: 20px;
    width: 780px;
    padding-top: 20px;
    border-top:1px solid #ddd;
}
.today_focus>div>div{
    width: 350px;
}
.today_focus img{
    width: 135px;
}
.today_focus h4{
    width: 200px;
    font-weight: normal;
    margin-bottom: 20px;
}
.today_focus>div li{
    font-size: 15px;
    margin: 18px 0;
}
.today_focus>div.rt{
    position: relative;
    border: 1px solid #ddd;
    width: 355px;
    height: 370px;
    margin-top: 20px;
    padding-left: 15px;
}
.today_focus>div.rt li>ul{
    position: absolute;
    top: 55px;
    left: 0;
    padding:0 15px;
    display: none;
}
.today_focus>div.rt li>ul>li{
    overflow : hidden;
    white-space : nowrap;
    text-overflow : ellipsis;
}
.today_focus>div.rt li.active>ul{
    display: block;
}
.today_focus>div.rt li.active>a{
    border-color: #1291ea;
    color: #1291ea;
}
.today_focus>div.rt>ul>li>a{
    border-bottom: 2px solid #999;
    font-size:18px;
    padding: 5px 10px;
}
.today_focus>div.rt a.middle{
    margin: 0 40px;
}
/*经济学人*/
.title li{
    padding: 0 13px;
    line-height: 25px;
    height: 31px;
}
.title li>a{
    color: #1291ea;
    font-size: 16px;
}
.title li>a:hover{
    text-decoration: underline;
}
.jjxr>ul>li{
    width: 330px;
    margin:0 105px 30px 0;
}
.jjxr>ul>li:nth-child(3n){
    margin-right: 0;
}
.jjxr img{
    width: 110px;
}
.jjxr ul h4{
    width: 220px;
    font-weight: normal;
    margin-bottom: 28px;
}
.jjxr span{
    color: #aaa;
}
.jjxr ul ul{
    border-left: 1px dotted #333;
}
.jjxr ul ul li{
    margin: 12px 0 0 8px;
}
/*研究*/
.study .title li a {
    font-size: 15px;
}
.study li>div{
    width: 183px;
    height: 183px;
}
.study img{
    width: 183px;
    height: 183px;
    transform:scale(1);
    transition:all linear .6s;
}
.study em{
    font-style: normal;
    color: #1291ea;
}
.study span{
    font-size: 10px;
    color: #666;
}
.study p{
    width: 183px;
    height: 40px;
}
.study ul.ofh li{
    width: 183px;
    margin: 8px;
    padding: 10px;
    -webkit-box-shadow:  0 0 10px #ddd;
    -moz-box-shadow:  0 0 10px #ddd;
    -o-box-shadow:  0 0 10px #ddd;
    box-shadow:  0 0 10px #ddd;
}
.study ul.ofh li:hover img{
    transform:scale(1.1);
}
/*图标导航条*/
.icon_nav{
    background-color: #fafafa;
    margin: 30px auto;
    padding: 30px 0;
}
.icon_nav li{
    width: 150px;
    text-align: center;
}
.icon_nav img{
    transition: all linear .4s;
}
.icon_nav li:hover img{
    transform:rotate(360deg);
}
/*企业说 排排宝 最新资讯*/
.qiyeshuo>div{
    width: 355px;
}
.qiyeshuo>div>div{
    width: 100%;
    position: relative;
}
.qiyeshuo>div img{
    width: 100%;
}
.qiyeshuo>.ppb{
    margin: 0 60px;
}
.qiyeshuo li{
    margin: 20px 0;
}
.qys>p{
    padding: 30px 0;
    color: #666666;
    border-bottom: 1px solid #ddd;
}
.ppb a>span{
    position: absolute;
    color: #FFFFFF;
    width: 355px;
    height: 40px;
    line-height: 40px;
    bottom: 4px;
    padding-left: 5px;
    font-size: 17px;
    transition: all linear .1s;
    background: linear-gradient(to top,rgba(0,0,0,.7),rgba(0,0,0,0));
}
.ppb a>span:hover{
    padding-top: 8px;
    height: 48px;
    background: linear-gradient(to top,rgba(0,0,0,.9),rgba(0,0,0,0));
}
.news li{
    margin: 30px 0;
}
/*大咖推荐*/
.daka{
    background-color: #f5f5f5;
    position: relative;
}
.daka h2{
    width: 126px;
    margin: 30px auto;
    text-align: center;
    position: relative;
    z-index: 1;
    font-weight: normal;
    background-color: #f5f5f5;
}
.daka i{
    position: absolute;
    border-bottom: 1px solid #ddd;
    top: 48px;
    left: 0;
    width: 1200px;
}
.daka li{
    position: relative;
    width: 285px;
    height: 150px;
    margin: 15px 20px 0 0;
}
.daka li:nth-child(4n){
    margin-right: 0;
}
.daka li img{
    width: 100%;
    height: 100%;
}
.daka span{
    position: absolute;
    bottom:0;
    left: 0;
    color: #FFFFFF;
    font-size: 14px;
    overflow: hidden;
    height: 22px;
    padding: 3px;
    transition: all linear .1s;
    background: linear-gradient(to top,rgba(0,0,0,.7),rgba(0,0,0,0));
}
.daka span:hover{
    height: auto;
}
.daka ul{
    margin-bottom: 50px;
}
/*底部信息*/
#footer{
    width: 1430px;
}
.yqlj{
    font-size: 12px;
    padding: 30px;

}
.yqlj a,.yqlj span{
    color: #666;
    margin-right: 20px;
    padding: 5px;
    padding-left: 0;
    display: inline-block;
}

.yqlj p:first-child{
    border-bottom: 1px solid #ddd;
}
.yqlj p:first-child a{
    font-size: 14px;
    color: #000;
    border-bottom: 2px solid transparent;
}
.yqlj a:hover,.yqlj p:first-child a:hover{
    color: #1291ea;
}
p:first-child a.active{
    color: #1291ea;
    border-bottom: 2px solid #1291ea;
}
div.cop a{
    margin: 0 10px 0 0;
    padding: 0;
    border: 1px solid #ddd;
}
.yqlj h3{
    margin-bottom: 5px;
}
div.about {
    background-color: #262a2e;
    height: 100px;
    font-size: 14PX;
    padding: 25px 140px;
    position: relative;
}
div.about p{
    margin: 10px 0;
    color:#999;
}
div.about a{
    color: #dddddd;
    margin: 0 10px;
}
div.about p:first-child a:first-child{
    margin-left: 0;
}
div.about ul{
    position: absolute;
    top: 40px;
    right: 115px;
}
div.about ul li a{
    margin: 0 5px;
    display:block;
    width: 26px;
    height: 24px;
    border-radius:15px;
    background: url(../imgs/bg/common.png) no-repeat ;
}
div.about ul li a.wx{
    background-position: 0 -32px;
}
div.about ul li a.wb{
    background-position: 0 -58px;
}
div.about ul li a.qz{
    background-position: 0 -84px;
}
div.about ul li a.qw{
    background-position: 0 -110px;
}
