/*初始化*/
*{
    box-sizing: border-box;
}
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
    list-style: none;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
a{
    text-decoration: none;
}
/*页头*/
#top{
    min-width: 1200PX;
    height: 40px;
    background-color:#222;
    font-size: 12px;
    padding: 0 80px;
}
#top a{
    line-height: 40px;
    color:#999;
    margin: 0 10px;
}
#top a:hover{
    color:#ddd;
}
#top i{
    border-left: 1px solid #999999;
}
#top s{
    display: inline-block;
    width: 8px;
    height: 15px;
    background: url(../imgs/shouji.png) no-repeat;
    position: relative;
    top:3px;
}
#top .sjqz{
    background-color: #444;
    padding: 0 5px;
}
/*页面主导航*/
#nav{
    min-width:1400px ;
    height: 90px;
    padding: 15px 80px;
    background-color: #4284da;
    color:#fff;
    font-size: 18px;
}
#nav>a{
    float: left;
    width: 150px;
    height: 56px;
    background: url(../imgs/logo.png) no-repeat 2px;
}
#nav>ul{
    width: 830px;
    padding-left: 50px;
    float: left;
    height: 60px;
}
#nav>ul>li{
    float: left;
    width: 80px;
    height: 60px;
    text-align: center;
    position: relative;
}
#nav>ul>li div{
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    behavior: url(ie-css3.htc);
    padding: 10px 0 0 10px;
    border-radius: 5px;
    font-size: 16px;
    display: none;
}
#nav>ul>li div>i{
    position: absolute;
    width: 15px;
    height: 8px;
    background: url(../imgs/bg/article_bg.png) no-repeat -35px -273px;
    top:-7px;
    left:25px;
}
#nav>ul>li.yjy div{
    width: 458px;
    height:120px;
}
#nav>ul>li.yjy ul>li{
    width: 30%;
    float: left;
    height: 30%;
    text-align: left;
}
#nav>ul>li.dsj ul>li{
    text-align: left;
    padding:5px 5px 5px 10px;
    margin:5px 10px 3px 0;
    width: 95px;
    border-radius: 3px;
}
#nav>ul>li.dsj ul>li:hover{
    background-color: #6dbaf1;
}
#nav>ul>li.dsj ul>li:hover a{
    color: #fff;
}
#nav>ul>li ul>li a{
    color: #000;
}
#nav>ul>li ul>li a:hover{
    color: #2244bb;
}
#nav>ul>li ul{
    width: 100%;
    height: 100%;
    padding-top: 5px
}
#nav ul ul img{
    width: 30px;
    vertical-align:middle;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -o-transition: all linear .5s;
    -moz-transition: all linear .5s;
    border:none;
}
#nav ul ul img:hover{
    transform:rotateZ(360deg);
    -webkit-transform:rotateZ(360deg);
    -o-transform:rotateZ(360deg);
    -moz-transform:rotateZ(360deg);
}
#nav>ul>li>a{
    line-height: 60px;
    color: #FFFFFF;
}
#nav>ul>li:hover>a{
    color: #ff0;
}
#nav>ul>li:hover div{
    display: block;
}
#nav>ul>li:hover b{
    transform:rotatez(180deg);
    -webkit-transform:rotateZ(180deg);
    -o-transform:rotateZ(180deg);
    -moz-transform:rotateZ(180deg);
}
#nav>ul>li b{
    position: relative;
    width: 15px;
    top: 2px;
    left: 1px;
    display: inline-block;
    height: 15px;
    background: url(../imgs/bg/arraw.png) no-repeat 0 0;
    transition:all linear .3s;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    -moz-transition: all linear .3s;
}
#nav>div{
    margin-top: 5px;
    position: relative;
    float: left;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    behavior: url(ie-css3.htc);
    z-index: 5;
}
#nav>div>a{
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#nav>div span{
    float: right;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: url(../imgs/bg/bg.png) no-repeat 2px -29px;
    margin: 15px 15px 0 0;
}
#nav>div input{
    margin:18px 0 0 15px ;
    outline: none;
    border: none;
}
#nav>div>a:hover{
    background-color: #04f;
}
#nav>div>a:hover span{
    background-position: -17px -29px;
}
/*banner广告*/
#banner{
    width: 1402px;
    height: 422px;
    border:1px solid #000;
    margin: 0 auto;
    background-color: #f00;
}